files:
# Runs right before `npm install` in '.../50npm.sh'
"/opt/elasticbeanstalk/hooks/appdeploy/pre/49yarn.sh" :
    mode: "000775"
    owner: root
    group: users
    content: |
        #!/bin/bash
        npm install -g yarn turbo;

        app="$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)";
        cd "${app}";
        yarn install;